
<br>
<br>
<div style=" background-color:lightgrey; width: 300px;border: 25px solid red;padding: 25px;margin: 25px;margin: 0 auto;">
<h1>++++++++++ Deslogado</h1>
<h2>inscreva-se para ver mais</h2>
</div>